In [ ]:
# optional cell 
# adding path on both ways either we work like running pythn liek program in pythonscript.py or in interactive mode (UI) 
import os

try:
    # when running as a .py file
    ROOT = os.path.dirname(__file__)
except NameError:
    # when running in a notebook
    ROOT = os.getcwd()

RAW_DIR = os.path.join(ROOT, "data", "raw")

In [ ]:
os.getcwd()

In [ ]:
#OPTIONAL DONT RUN IT! 
# Tell Python where to find src/ At the top of your notebook:
import os, sys

# adjust the path so Python can import from src/
sys.path.insert(0, os.path.abspath("src"))

# now you can import your ETL functions
from transform_load import load_raw_items, normalize, create_and_load

In [ ]:
# OPTIONAL DONT RUN IT!
# Override RAW-DIR if needed
# after importing, re-point RAW_DIR for notebook context
from transform_load import RAW_DIR as _orig_raw_dir
import os
RAW_DIR = os.path.abspath("data/raw")

In [ ]:
# OPTIONAL DONT RUN IT!
# Run your pipeline interactively
raw = load_raw_items(RAW_DIR)
dates, sources, authors, pubs, pub_auth = normalize(raw)
create_and_load(dates, sources, authors, pubs, pub_auth)

In [ ]:
# validation script 
# DODATNO UREDJIVANJE VIDETI KAKO DA SE TOKENIZUJU KREDENCIJALI DA NE BUDU "OGOLJENI" U SKRIPTI 

from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

def validate_mysql_connection(db_user, db_password, db_host, db_name):
    
    connection_string = f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}"
    engine = create_engine(connection_string) #None  # Initialize engine outside try block

    try:
        with engine.connect() as conn:
            # Execute a simple query to verify connection
            version = conn.execute(text("SELECT DATABASE();")).scalar()
            print(f"Successfully connected to MySQL. Database version: {version}")
            return True
    except SQLAlchemyError as e:
        print(f"Error connecting to MySQL: {e}")
        return False
    finally:
        if engine:
            engine.dispose() # Dispose of the engine to close connections in the pool
            
if __name__ == "__main__":
# Replace with your actual database credentials
    USER = "Milosh_85"
    PASSWORD = "Nikoljdan2021"
    HOST = "127.0.0.1"
    DATABASE = "scilit_db"

validate_mysql_connection(USER, PASSWORD, HOST, DATABASE)

### adding solution from Copilot

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# 1) Create your engine (dialect “mysql+pymysql” is correct)
engine = create_engine("mysql+pymysql://Milosh_85:Nikoljdan2021@127.0.0.1:3306/scilit_db")

TABLE_ORDER = [
    "publication_authors",
    "publications",
    "authors",
    "sources",
    "dates"
]

DDL = [
    # Drop in reverse‐dependency order:
    "DROP TABLE IF EXISTS publication_authors;",
    "DROP TABLE IF EXISTS publications;",
    "DROP TABLE IF EXISTS authors;",
    "DROP TABLE IF EXISTS sources;",
    "DROP TABLE IF EXISTS dates;",

    # Recreate:
    """
    CREATE TABLE dates (
      date_id   INT PRIMARY KEY,
      year      INT,
      month     INT,
      day       INT
    );
    """,
    """
    CREATE TABLE sources (
      source_id   INT PRIMARY KEY,
      source_name VARCHAR(255)
    );
    """,
    """
    CREATE TABLE authors (
      author_id    INT PRIMARY KEY,
      given_name   VARCHAR(100),
      family_name  VARCHAR(100),
      affiliation  VARCHAR(255)
    );
    """,
    """
    CREATE TABLE publications (
      publication_id   INT PRIMARY KEY,
      doi              VARCHAR(255),
      title            TEXT,
      publisher        VARCHAR(255),
      type             VARCHAR(50),
      source_id        INT,
      issued_date_id   INT,
      FOREIGN KEY (source_id)      REFERENCES sources(source_id),
      FOREIGN KEY (issued_date_id) REFERENCES dates(date_id)
    );
    """,
    """
    CREATE TABLE publication_authors (
      publication_id   INT,
      author_id        INT,
      sequence         INT,
      PRIMARY KEY (publication_id, author_id),
      FOREIGN KEY (publication_id) REFERENCES publications(publication_id),
      FOREIGN KEY (author_id)      REFERENCES authors(author_id)
    );
    """
]

def create_and_load(dates, sources, authors, pubs, pub_auth):
    # 1) Drop & recreate schema
    with engine.begin() as conn:
        for stmt in DDL:
            conn.execute(text(stmt))

        # 2) Bulk load INTO that same connection
        pd.DataFrame(dates) .to_sql("dates",                conn, if_exists="append", index=False)
        pd.DataFrame(sources).to_sql("sources",             conn, if_exists="append", index=False)
        pd.DataFrame(authors).to_sql("authors",             conn, if_exists="append", index=False)
        pd.DataFrame(pubs)   .to_sql("publications",        conn, if_exists="append", index=False)
        pd.DataFrame(pub_auth).to_sql("publication_authors",conn, if_exists="append", index=False)

    print("✅ All tables created and loaded successfully.")

In [ ]:
#option b with adding a raw DBAPI connection to pandas 

# hand pandas an object that actually has .cursor(). The simplest is engine.raw_connection(). 
# For example, move your inserts outside the with engine.begin() block :

engine = create_engine("mysql+pymysql://Milosh_85:Nikoljdan2021@127.0.0.1:3306/scilit_db")
    #engine = create_engine(DB_URI, echo=False)

def create_and_load(dates, sources, authors, pubs, pub_auth):
    """Drop & recreate tables, then bulk-insert via pandas.to_sql()."""
    
    # 1) Dropping part (DDl) - Drop in reverse-dependency order Child tables 
    # with FKs go first so you don’t violate referential integrity when dropping
    drop_order = [
         "publication_authors",
         "publications",
         "authors",
         "sources",
         "dates"
        ]
    # 2) Create tables (DDL) (parent → child)
    ddl_statements = [
        """
        CREATE TABLE dates (
          date_id INT NOT NULL,
          year INT,
          month INT,
          day INT,
          PRIMARY KEY (date_id)
        )""",
        """
        CREATE TABLE sources (
          source_id INT NOT NULL,
          source_name VARCHAR(255),
          PRIMARY KEY (source_id)
        )""",
        """
        CREATE TABLE authors (
          author_id INT NOT NULL,
          given_name VARCHAR(100),
          family_name VARCHAR(100),
          affiliation VARCHAR(255),
          PRIMARY KEY (author_id)
        )""",
        """
        CREATE TABLE publications (
          publication_id INT NOT NULL,
          doi VARCHAR(255),
          title VARCHAR(255),
          publisher VARCHAR(255),
          type VARCHAR(50),
          source_id INT,
          issued_date_id INT,
          PRIMARY KEY (publication_id),
          FOREIGN KEY (source_id) REFERENCES sources(source_id),
          FOREIGN KEY (issued_date_id) REFERENCES dates(date_id)
        )""",
        """
        CREATE TABLE publication_authors (
          publication_id INT,
          author_id INT,
          sequence INT,
          PRIMARY KEY (publication_id, author_id),
          FOREIGN KEY (publication_id) REFERENCES publications(publication_id),
          FOREIGN KEY (author_id) REFERENCES authors(author_id)
        )"""
        ]

    with engine.begin() as conn:
        for tbl in drop_order:
            conn.execute(text(f"DROP TABLE IF EXISTS {tbl}"))
        for stmt in ddl_statements:
            conn.execute(text(stmt))
            
#3  Bulk‐load via pandas, using a raw DBAPI connection (moving to-sql() part out of the with engine.begin() block)
        raw_conn = engine.raw_connection()
        try:
            pd.DataFrame(dates).to_sql(
                name="dates",
                con=raw_conn,
                if_exists="append",
                index=False
            )
            pd.DataFrame(sources).to_sql(name = "sources", con=conn, if_exists="append", index=False)
            pd.DataFrame(authors).to_sql(name = "authors", con=conn, if_exists="append", index=False)
            pd.DataFrame(pubs).to_sql(name = "publications", con=conn, if_exists="append", index=False)
            pd.DataFrame(pub_auth).to_sql(name = "publication_authors", con=conn, if_exists="append", index=False)
            raw_conn.commit()
        finally:
            raw_conn.close()

print("All tables created and loaded successfully.")

In [ ]:
# option c:with using SQLAlchemy.Connection  

engine = create_engine("mysql+pymysql://Milosh_85:Nikoljdan2021@127.0.0.1:3306/scilit_db")
    #engine = create_engine(DB_URI, echo=False)

def create_and_load(dates, sources, authors, pubs, pub_auth):
    """Drop & recreate tables, then bulk-insert via pandas.to_sql()."""
    
    # 1) Dropping part (DDl) - Drop in reverse-dependency order Child tables 
    # with FKs go first so you don’t violate referential integrity when dropping
    drop_order = [
        "publication_authors",
        "publications",
        "authors",
        "sources",
        "dates"
    ]
    # 2) Create tables (DDL) (parent → child)
    ddl_statements = [
        """
        CREATE TABLE dates (
          date_id INT NOT NULL,
          year INT,
          month INT,
          day INT,
          PRIMARY KEY (date_id)
        )""",
        """
        CREATE TABLE sources (
          source_id INT NOT NULL,
          source_name VARCHAR(255),
          PRIMARY KEY (source_id)
        )""",
        """
        CREATE TABLE authors (
          author_id INT NOT NULL,
          given_name VARCHAR(100),
          family_name VARCHAR(100),
          affiliation VARCHAR(255),
          PRIMARY KEY (author_id)
        )""",
        """
        CREATE TABLE publications (
          publication_id INT NOT NULL,
          doi VARCHAR(255),
          title VARCHAR(255),
          publisher VARCHAR(255),
          type VARCHAR(50),
          source_id INT,
          issued_date_id INT,
          PRIMARY KEY (publication_id),
          FOREIGN KEY (source_id) REFERENCES sources(source_id),
          FOREIGN KEY (issued_date_id) REFERENCES dates(date_id)
        )""",
        """
        CREATE TABLE publication_authors (
          publication_id INT,
          author_id INT,
          sequence INT,
          PRIMARY KEY (publication_id, author_id),
          FOREIGN KEY (publication_id) REFERENCES publications(publication_id),
          FOREIGN KEY (author_id) REFERENCES authors(author_id)
        )"""
        ]

    with engine.begin() as sa_conn:
        for tbl in drop_order:
            sa_conn.execute(text(f"DROP TABLE IF EXISTS {tbl}"))
        for stmt in ddl_statements:
            sa_conn.execute(text(stmt))
            
    # 3) Bulk insert (we call con=engine instead of conn, as pandas nwo recognizes the engine and internally calls DBAPI to to the insert)
        pd.DataFrame(dates).to_sql(name = "dates", con=sa_conn, if_exists="append", index=False)
        pd.DataFrame(sources).to_sql(name = "sources", con=sa_conn, if_exists="append", index=False)
        pd.DataFrame(authors).to_sql(name = "authors", con=sa_conn, if_exists="append", index=False)
        pd.DataFrame(pubs).to_sql(name = "publications", con=sa_conn, if_exists="append", index=False)
        pd.DataFrame(pub_auth).to_sql(name = "publication_authors", con=sa_conn, if_exists="append", index=False)

print("All tables created and loaded successfully.")

In [ ]:
print(pd.__version__)

In [ ]:
!pip install pandas==1.3.5

In [ ]:
pip install --upgrade pandas

In [ ]:
dates_df = pd.DataFrame(dates)
dates_df.shape